<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: #00FF00;">
<form  action="register" method="POST">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username" placeholder="Enter your desired username"><br><br>
  <label for="first-name">First Name:</label><br>
  <input type="text" id="first-name" name="first-name" placeholder="Enter your first name"><br><br>
  <label for="last-name">Last Name:</label><br>
  <input type="text" id="last-name" name="last-name" placeholder="Enter your last name"><br><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" placeholder="Enter your password"><br><br>
  <label for="confirm-password">Confirm Password:</label><br>
  <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm your password"><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>